/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */

@media print {



  a:link,
  a:visited { /* underline all links */
    text-decoration: underline ;
  }

  #site-name a:link,
  #site-name a:visited { /* Don't underline header */
    text-decoration: none !important;
  }
  
  #features_menu a {
color: #000;
text-decoration: none !important;
}

.section-features .section {
margin: 0 0 0 0px;
}

.section-features #content {

width: 100%;
}
#features_menu {

margin-left: 282px;

}
#header {
  background: #fff !important;
;
  }
#logo {
	background: url('../images/united_logo_reverse.png') no-repeat !important;
	width: 245px;
	height: 45px;
	 }
#logo a img {
	display: none; }

   /*
  #content a[href]:after { Add visible URL after links.
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
   */

  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after { /* Only display useful links. */
    content: "";
  }

  #content abbr[title]:after { /* Add visible title after abbreviations. */
    content: " (" attr(title) ")";
  }

  #content { /* Un-float the content */
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  html,body,
  #page,
  #main,
  #content { /* Turn off any background colors or images */
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
	width:100%;
  }

  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons { /* Hide sidebars and nav elements */
    visibility: hidden;
    display: none;
  }

/* Custom Print CSS*/
.config-menu li a{ display:none !important;}
.view-features-menus2-cabin-class-menu li a{ display:none !important;}
#features_menu li a{ display:none !important; }

li.active a{display:block !important;}

#sidebar-first { display:none;}
/* --end of custom css for print --*/
} 
/* End @media print */
